.header 
  min-height: 120px  
  display: flex
  align-items: center
  padding: 0 60px 0 120px 
  height: 120px
  &__nav 
    margin-left: auto 
    margin-right: 65px
  &__link 
    width: 15px
    color: #fff
    margin-right: 50px 
    &:last-child
      margin-right: 0
  &__lang 
    color: #fff


.main 
  position: relative
  &-bg 
    height: 880px 
    background-color: #000
  &-window
    position: absolute
    top: 120px
    width: 1580px 
    height: 955px
  &-photo 
    position: relative
    &__text 
      position: absolute 
      top: 50%
      transform: translateY(-50%)
      left: 230px 
      z-index: 1
      color: #fff



