.header 
  min-height: 120px  
  display: flex
  align-items: center
  padding: 0 125px 0 60px 
  &__nav 
    width: 600px
    display: flex
    align-items: center
    justify-content: space-between
    margin-left: auto 
    margin-right: 65px
  &__link, &__anchor-link
    position: relative
    color: #fff
    margin-right: 50px 
    transition: 2s ease
    &:last-child
      margin-right: 0
    &:before, &:after
      position: absolute
      content: ''
      width: 10px
      height: 40px
      top: -50px
      left: 50%
      transform: translateX(-50%) 
      background-color: rgba($yellow-color, 0.5)
      visibility: hidden
      opacity: 0
      transition: visibility 0.3s ease-in-out, opacity 0.7s ease
    &:after 
      top: auto 
      bottom: -50px
    &:hover 
      &:before, &:after 
        opacity: 1
        visibility: visible
  &__lang 
    display: flex
    align-items: center
    font-size: 20px
    color: #fff
    cursor: pointer
    &:before 
      content: ''
      display: block
      width: 90px 
      height: 2px 
      top: 50%
      margin-right: 10px
      transform: translateY(-50%)
      background-color: $yellow-color
  &__links
    display: flex
    align-items: center
    position: absolute
    height: 50px
    top: 400px
    right: -120px
    transform: rotate(90deg)
    &:before 
      content: ''
      height: 120px 
      width: 2px 
      transform: rotate(90deg) translateY(75px)
      background-color: $yellow-color
    &-email, &-phone
      color: #fff
      text-transform: uppercase
    &-email 
      margin-right: 80px
  &__scroll-down 
    display: flex
    align-items: center
    position: absolute 
    height: 50px
    right: 10px
    bottom: -100px  
    padding: 5px
    transform: rotate(90deg)
    color: #000
    font-weight: 600
    text-transform: uppercase
    cursor: pointer
    transition: 0.5s
    &:hover 
      background-color: $yellow-color
    &:before 
      content: ''
      display: inline-block
      height: 120px 
      width: 2px 
      transform: rotate(90deg) translateY(75px) translateX(1px)
      background-color: $yellow-color

.logo
  width: 80px
  box-shadow: none

.main 
  position: relative
  margin-bottom: 370px
  &-bg 
    position: relative
    height: 880px 
    background: linear-gradient(135deg, #333333, #000)
  &-window
    position: absolute
    top: 120px
  &-photo 
    position: relative
    width: 1580px 
    height: 955px
    border-bottom: 5px solid $yellow-color
    background-color: #fff
    &__home 
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      object-fit: cover
      box-shadow: none
    &__img 
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      object-fit: cover
      box-shadow: none
      opacity: 0
    &__text 
      position: absolute 
      top: 50%
      transform: translateY(-50%)
      left: 230px 
      z-index: 1
      color: #fff
    &__uppertitle 
      display: flex
      align-items: center
      margin-bottom: 30px
      &-text 
        font-size: 25px
        font-weight: 600 
        text-shadow: 0 0 5px #000
      &-icon 
        width: 35px
        margin-left: 10px
        box-shadow: none
    &__title 
      font-size: 60px
      text-shadow: 0 0 5px #000
      margin-bottom: 40px
  &-houses
    position: absolute 
    display: flex
    align-items: center 
    width: 875px 
    height: 140px
    left: 0
    bottom: -75px
    background-color: #fff
    z-index: 5
    &__home 
      display: flex
      align-items: center
      justify-content: center
      height: 100%
      padding: 0 20px
      border-bottom: 5px solid transparent
      cursor: pointer
      transition: 0.5s
      &:hover 
        background-color: $yellow-color
        border-bottom: 5px solid $yellow-color
        .main-houses__icon 
          fill: #000
    &__icon 
      width: 50px
      height: 50px
      fill: #aaaaaa
      transition: 0.5s

.home__text 
  opacity: 0
  position: absolute
  width: 500px 
  max-height: 0
  padding: 20px
  left: 230px 
  top: 15%
  color: #fff
  background-color: rgba(#000000, 0.5)
  box-shadow: 0 0 10px 10px rgba(#000000, 0.5)
  text-shadow: 0 0 5px #000
  font-size: 20px
  z-index: 1
  overflow: hidden
  &-title 
    font-size: 40px
    margin-bottom: 20px 
  &-place 
    font-size: 25px
    font-weight: 600
    line-height: 1.5
    margin-bottom: 20px
  &-info
    font-size: 20px
    font-weight: 600
    line-height: 1.3
    margin-bottom: 20px

.housename 
  display: flex
  align-items: center
  height: 100%
  padding: 50px
  cursor: pointer
  border-bottom: 4px solid transparent
  transition: 0.5s ease
  &:hover 
    transition: 0.5s 
    border-bottom: 4px solid $yellow-color
    .housename__number 
      border: 1px solid $yellow-color
      color: $yellow-color
      transition: 0.5s
    .housename__name
      color: #000 
      transition: 0.5s
  &__number 
    display: flex
    align-items: center
    justify-content: center
    min-width: 50px
    min-height: 50px
    font-size: 17px
    margin-right: 20px
    border: 1px solid #aaaaaa
    border-radius: 50%
    transition: 0.5s ease
  &__name 
    font-size: 17px
    font-weight: 600
    color: #aaaaaa
    transition: 0.5s ease




