@media (max-width:1600px)
  .steps__img-2
    top: -200px
    width: 350px
    height: 500px
  .agent__image-text 
    text-align: right
  .process__img-2
    width: 500px
    right: 50px
  .process__info-top 
    padding-right: 50px
  .main-photo__text
    left: 10%

@media (max-width:1300px)
  .header
    padding-right: 20px
  .welcome__img
    height: 500px
  .agent__image-2
    display: none
  .invest__info
    padding: 0 50px
    font-size: 20px
  .process__img-1
    width: 500px
    height: 800px
    left: 100px
  .process__info-top
    left: 700px


@media (max-width:1200px) 
  .logo 
    margin-right: 50px
  .main 
    margin-bottom: 200px
  .welcome__img 
    display: none
  .welcome__info 
    &:last-child
      margin-left: 150px
  .agent__image-1 
    left: 560px
  .agent__img-1 
    width: 400px
  .process__img-1
    width: 400px
    height: 750px
  .process__img-2
    width: 250px
    height: 350px
  .process__info-top 
    left: 550px
  .invest 
    display: none
  .steps__img-1 
    width: 380px
    height: 600px


